<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<security:http pattern="**/resources/**" security="none" />
	<security:http pattern="/resources/**" security="none" />

	<security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/**" requires-channel="any"/>
		<security:form-login login-page="/login" 
				default-target-url="/profile?success"
				login-processing-url="/login"
				password-parameter="password"
				username-parameter="username"
				authentication-failure-url="/login?error" />
		
		<security:csrf disabled="true"/>
		
		<security:intercept-url pattern="/" access="authenticated" requires-channel="any"/>
		
		<security:intercept-url pattern="/login**" access="permitAll" /> 
		<security:intercept-url pattern="/authorization**" access="permitAll" />
		<security:intercept-url pattern="/favicon.ico*" access="permitAll" />
		<security:intercept-url pattern="/logout*" access="permitAll"  />

		<security:intercept-url pattern="/**" access="authenticated" />
		<security:logout logout-success-url="/login" logout-url="/logout" invalidate-session="true" />		
	</security:http>
	
	<bean id="channelDecisionManager" class="org.springframework.security.web.access.channel.ChannelDecisionManagerImpl">
	    <property name="channelProcessors">
	        <list>
	            <bean class="org.springframework.security.web.access.channel.SecureChannelProcessor" />
	            <bean class="org.springframework.security.web.access.channel.InsecureChannelProcessor" />
	        </list>
	    </property>
	</bean>
		
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsService">
            <security:password-encoder ref="encoder" > 
            <!--
            	<security:salt-source user-property="username"/>
            -->
            </security:password-encoder>
		</security:authentication-provider>
	</security:authentication-manager>
	
	<bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	
	<bean id="userDetailsService" class="com.kovalyk.securemessages.security.InstantMessengerUserDetailsService"></bean>
</beans>
